@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "layout/header.scss";
@import "sections/hamburger.scss";
@import "layout/main.scss";
@import "layout/projects.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
	//background: linear-gradient(-45deg, #ee5252, #dc6090, #23d5ab);
	//background-color: #aa80ff;
	//background-image: url('../images/background-pc.png');
	background-image: url('../images/background.png');
	overflow-x: hidden;
	background-size: cover;
	background-attachment: fixed;

	
	

	* {
		color: white;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 1950px) {
	html {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	body {
		max-width: 1500px;
	}
}

