@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "layout/header.scss";
@import "sections/hamburger.scss";
@import "layout/main.scss";
@import "layout/projects.scss";
@import "sections/swiper.scss";



body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee5252, #dc6090, #23d5ab);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 1400px) {
	html {
		display: flex;
		justify-content: center;
	}

	body {
		max-width: 1500px;
	}
}

