@import "layout/header.scss";
@import "sections/hamburger.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    background-color: rgb(209, 186, 184);
    font-family: 'Open Sans', sans-serif;
}
