@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-inline: 2rem;
}

header .header-full-name {
  font-size: 1.3rem;
  font-weight: 600;
}

header #hidden-list {
  height: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  padding: 0;
  padding-right: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  transition: height 0.3s;
}

header #hidden-list li {
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  font-size: 1.3rem;
  font-weight: 500;
  transition: opacity, transform 0.3s;
}

header #hidden-list li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header #hidden-list li a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 681px) {
  header {
    padding: 1rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header p {
    width: max-content;
  }
  header label {
    display: none;
  }
  header label ~ #hidden-list {
    width: 300px;
    align-self: end;
    height: initial;
    flex-direction: row;
    grid-column: unset;
  }
  header label ~ #hidden-list li {
    opacity: 1;
    height: initial;
  }
}

header #hamburger {
  display: none;
}

header #hidden-list {
  overflow: hidden;
}

header label {
  height: 26px;
  width: 33px;
  position: relative;
  transition: transform 0.4s;
}

header label div.line {
  border: 1px solid black;
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.3s;
}

header label div.line1 {
  top: 0px;
}

header label div.line2 {
  top: 13px;
}

header label div.line3 {
  top: 26px;
}

header input[type='checkbox']:checked ~ #hidden-list {
  height: 80px;
}

header input[type='checkbox']:checked ~ #hidden-list li {
  height: 40px;
  opacity: 1;
}

header input[type='checkbox']:checked ~ label {
  transform: rotate(180deg);
}

header input[type='checkbox']:checked ~ label div.line {
  top: 13px;
}

header input[type='checkbox']:checked ~ label div.line1 {
  transform: rotate(45deg);
}

header input[type='checkbox']:checked ~ label div.line2 {
  display: none;
}

header input[type='checkbox']:checked ~ label div.line3 {
  transform: rotate(-45deg);
}

main {
  z-index: 10;
  padding-inline: 2rem;
}

main div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  align-self: center;
  max-width: 60%;
  border-radius: 50%;
}

main div.welcome-container {
  width: 100%;
  text-align: center;
}

main div.welcome-container p {
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  word-spacing: 3px;
  font-weight: 500;
  color: black;
}

main div.welcome-container p span {
  color: #574b48;
  font-size: 1.5rem;
  font-weight: 800;
}

main div.bio p {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 681px) {
  main {
    display: flex;
    justify-content: center;
  }
  main div.container {
    align-self: center;
    justify-self: center;
    padding: 1rem;
    width: 50%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
  }
  main img {
    max-width: 300px;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  main div.welcome-container {
    min-width: 350px;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  main div.bio {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

section {
  display: flex;
  flex-direction: column;
  color: black;
}

section div.projects-container {
  justify-self: center;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

section div.projects-container div.project {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section div.projects-container div.project a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bolder;
  color: inherit;
  padding: 5px;
}

section div.projects-container div.project p {
  align-self: center;
  width: 90%;
  padding-inline: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}

section div.projects-container div.project img {
  align-self: center;
  width: 80%;
}

@media screen and (min-width: 769px) {
  section div.projects-container div.project p {
    padding-inline: 4rem;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(-45deg, #ee5252, #dc6090, #23d5ab);
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 1400px) {
  html {
    display: flex;
    justify-content: center;
  }
  body {
    max-width: 1500px;
  }
}
