.contact-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.218);
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.contact div.contact-methods {
  transform: translateY(-50%);
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border-radius: 15px;
  border-top: 15px solid #cdcdcd;
}

div.contact div.contact-methods * {
  font-family: 'Lato';
}

div.contact div.contact-methods form#contact-form {
  padding: 1em;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

div.contact div.contact-methods form#contact-form input[type='submit'], div.contact div.contact-methods form#contact-form input[type='hidden'] {
  grid-column-start: 1;
  grid-column-end: -1;
}

div.contact div.contact-methods form#contact-form label {
  font-size: 120%;
  font-weight: 500;
}

div.contact div.contact-methods form#contact-form input, div.contact div.contact-methods form#contact-form textarea {
  font-size: 1.3em;
  border: unset;
  background-color: #efe8e8;
  padding: 0.5em;
}

div.contact div.contact-methods form#contact-form input:focus, div.contact div.contact-methods form#contact-form textarea:focus {
  outline: none;
}

div.contact div.contact-methods form#contact-form textarea {
  resize: none;
}

div.contact div.contact-methods form#contact-form p {
  font-size: 200%;
  text-align: center;
  font-weight: 600;
}

div.contact div.contact-methods form#contact-form input[type='submit'] {
  margin-top: 20px;
  font-size: 130%;
  border: none;
  padding: 1em;
  transition: background-color 0.3s;
}

div.contact div.contact-methods form#contact-form input[type='submit']:hover {
  cursor: pointer;
  background-color: #cdcdcd;
}

@media screen and (min-width: 481px) {
  div.contact div.contact-methods {
    width: 60%;
  }
}

@media screen and (min-width: 861px) {
  div.contact div.contact-methods {
    width: 50%;
    max-width: 500px;
  }
  div.contact div.contact-methods form#contact-form {
    grid-template-columns: unset;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    align-items: center;
    text-align: center;
  }
  div.contact div.contact-methods form#contact-form label {
    grid-column-start: 1;
    text-align: right;
  }
}
