.contact-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.218);
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px black;
}

div.contact {
    padding-top: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    div.contact-methods {
        box-shadow: 0px 0px 20px grey;
        * {
            font-family: 'Lato';
        }
        transform: translateY(-50%);
        width: 70%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        border-radius: 15px;
        border-top: 15px solid rgb(205, 205, 205);

        form#contact-form {
            padding: 1em;
            display: grid;
            grid-template-columns: 100%;
            gap: 10px;

            input[type='submit'], input[type='hidden'] {
                grid-column-start: 1;
                grid-column-end: -1;
            }

            label {
                font-size: 120%;
                font-weight: 500;
            }

            input, textarea {
                font-size: 1.3em;
                border: unset;
                background-color: rgb(239, 232, 232);
                padding: 0.5em;
            }

            input:focus, textarea:focus {
                outline: none;
            }

            textarea {
                resize: none;
            }

            p {
                font-size: 200%;
                text-align: center;
                font-weight: 600;
            }

            input[type='submit'] {
                margin-top: 20px;
                font-size: 130%;
                border: none;
                padding: 1em;
                transition: background-color 0.3s;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(205, 205, 205);
                }
            }
        }


    }

    @media screen and (min-width: 481px) {
        div.contact-methods {
            width: 60%;
        }
    }

    @media screen and (min-width: 861px) {

        div.contact-methods {
            width: 60%;
            max-width: 500px;

            & form#contact-form {
                grid-template-columns: unset;
                grid-template-columns: max-content 1fr;
                grid-auto-rows: max-content;
                align-items: center;
                text-align: center;

                label {
                    grid-column-start: 1;
                    text-align: right;

                }
            }
        }
    }
}