footer {
    background-color: rgba(255, 255, 255, 0.218);
    position: relative;
    bottom: -15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 0.9rem;
        font-weight: 600;
    }

    img {
        width: 30px;
    }
}