header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-inline: 2rem;
}

header .header-full-name {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header #hidden-list {
  height: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  transition: height 0.3s;
}

header #hidden-list li {
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  font-size: 1.3rem;
  transition: opacity 0.3s;
}

header #hidden-list li a {
  text-decoration: none;
  color: black;
}
