$menuListItemHeight: 40px;

header {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 2rem;

    .header-full-name {
        font-size: 1.3rem;
        font-weight: 600;
    }
        
    #hidden-list {
        height: 0;
        grid-column-start: 1;
        grid-column-end: -1;
        width: 100%;
        padding: 0;
        padding-right: 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        transition: height 0.3s;
    
    
        & li {
            margin-bottom: 0;
            width: 100%;
            height: $menuListItemHeight;
            opacity: 0;
            font-size: 1.3rem;
            font-weight: 500;
            transition: opacity, transform 0.3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            & a {
                text-decoration: none;
                color: black;
                
            }      
        }
    }
}

@media screen and (min-width: 681px) {
    header {
        padding: 1rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
         
        p {
            width: max-content;
        }
        
        label {
            display: none;
            
            ~ #hidden-list {
                width: 300px;
                align-self: end;
                height: initial;
                flex-direction: row;
                grid-column: unset;
                

    
                & li {
                    opacity: 1;
                    height: initial;
                }
           }
        }

        
    }
}