$menuListItemHeight: 40px;

header {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 2rem;
    position: sticky;
    top: 0;
    background-color: rgb(209, 186, 184);
    

    .header-full-name {
        font-size: 1.3rem;
        font-weight: 600;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
        
    #hidden-list {
        background-color: rgb(209, 186, 184);
        height: 0;
        grid-column-start: 1;
        grid-column-end: -1;
        width: 100%;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        transition: height 0.3s;
    
    
        & li {
            margin-bottom: 0;
            width: 100%;
            height: $menuListItemHeight;
            opacity: 0;
            font-size: 1.3rem;
            font-weight: 500;
            transition: opacity 0.3s;

            & a {
                text-decoration: none;
                color: black;

                &:hover {
                    cursor: pointer;
                    color: rgb(19, 19, 155);
                }
            }
            
           
        }




    }
    
}