main {
    z-index: 10;
    padding-inline: 2rem;
    
    div.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & img {
        align-self: center;
        max-width: 60%;
        border-radius: 50%;
    }

    div.welcome-container {
        width: 100%;
        text-align: center;
        
        & p {
            line-height:2rem;
            font-size: 1.2rem;
            letter-spacing: 0.3px;
            word-spacing: 3px;
            font-weight: 500;
            color: black;
            & span {
                color:rgb(35, 32, 31);
                font-size: 1.5rem;
                font-weight: 800;
            }
        }
    }

    div.bio {
        & p {
            text-align: justify;
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 681px) {
    main {
        display: flex;
        justify-content: center;
        div.container {
            align-self: center;
            justify-self: center;
            padding: 1rem;
            width: 50%; 
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 2rem;
        }
        & img {
            max-width: 300px;
            grid-column-start: 1;
            grid-column-end: 1;
        }
        
        div.welcome-container {
            min-width: 350px;
            grid-column-start: 2;
            grid-column-end: 2;
        }

        div.bio {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}