section {
  display: flex;
  flex-direction: column;
  color: black;
}

section div.projects-container {
  justify-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

section div.projects-container div.project {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section div.projects-container div.project a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bolder;
  color: inherit;
  padding: 5px;
}

section div.projects-container div.project p {
  align-self: center;
  width: 90%;
  padding-inline: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}

section div.projects-container div.project img {
  border-radius: 4px;
  align-self: center;
  width: 80%;
}

@media screen and (min-width: 769px) {
  section div.projects-container div.project p {
    padding-inline: 4rem;
  }
}
