div.projects-container {
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    padding: 2rem;

    div.project {

        width: 100%;

        div.swiper {

            div.swipe {

                img {
                    width: 80%;
                }
            }
        }
    }
}