section {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    div.projects-container {
        padding-top: 2rem;
        background-color: #db80a3;
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
        justify-content: center;
        width: 100%;
        


        div.project {
            text-align: center;
            align-self: center;    
            display: flex;
            flex-direction: column;
            
            width: 100%;
            
            a {
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 600;
                color: inherit;
                text-decoration-line: underline;
            }

            p {
                padding-inline: 2rem;
                text-align: justify;
                line-height: 2rem;
                font-size: 1.2rem;
                font-weight: 600;

            }

            & img {
               align-self: center;
                width: 80%;
                
            }
        }
    }
}

@media screen and (min-width: 769px) {
    section {
        div.projects-container {

            div.project {
                p {
                    padding-inline: 4rem;
                }
            }
        }
    }
}
