header #hamburger {
  display: none;
}

header #hidden-list {
  overflow: hidden;
}

header label {
  height: 26px;
  width: 33px;
  position: relative;
  transition: transform 0.4s;
}

header label div.line {
  border: 1px solid black;
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.3s;
}

header label div.line1 {
  top: 0px;
}

header label div.line2 {
  top: 13px;
}

header label div.line3 {
  top: 26px;
}

header input[type='checkbox']:checked ~ #hidden-list {
  height: 80px;
}

header input[type='checkbox']:checked ~ #hidden-list li {
  height: 40px;
  opacity: 1;
}

header input[type='checkbox']:checked ~ label {
  transform: rotate(180deg);
}

header input[type='checkbox']:checked ~ label div.line {
  top: 13px;
}

header input[type='checkbox']:checked ~ label div.line1 {
  transform: rotate(45deg);
}

header input[type='checkbox']:checked ~ label div.line2 {
  display: none;
}

header input[type='checkbox']:checked ~ label div.line3 {
  transform: rotate(-45deg);
}

@media screen and (min-width: 681px) {
  header {
    padding: 1rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header p {
    width: max-content;
  }
  header label {
    display: none;
  }
  header label ~ #hidden-list {
    width: 230px;
    align-self: end;
    height: initial;
    flex-direction: row;
    grid-column: unset;
    text-align: right;
  }
  header label ~ #hidden-list li {
    opacity: 1;
    height: initial;
  }
}
